apiVersion: v1
kind: Service
metadata:
  name: sereno-portal
  labels:
    app: sereno-portal
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: sereno-portal
