.animate-appear {
  animation: appear 500ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.animate-fade-in {
  animation: fade-in 500ms ease-out;
}

.animate-slide-up {
  animation: slide-up 500ms ease-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
}
