.input,
.select {
  outline: none;
  border-width: 1px;
  transition: all 0.2s ease-out;
}

.select {
  padding-right: 2.2rem;
}

.input:focus {
  transform: scale(1.01);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.select-wrapper:focus-within .select {
  transform: scale(1.01);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
