@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./themes.css";
@import "./variables.css";
@import "./animations.css";
@import "./utilities.css";
@import "./forms.css";
@import "./prose.css";

@theme {
  --radius-xs: 1px;
  --radius-sm: 2px;
  --radius-md: 2px;
  --radius-lg: 4px;
  --radius-xl: 4px;
  --radius-2xl: 4px;
  --radius-3xl: 4px;
  --radius-4xl: 4px;
}

