@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./themes.css";
@import "./variables.css";
@import "./animations.css";
@import "./utilities.css";
@import "./forms.css";
@import "./prose.css";

