:root {
  --radius-box: 0;
  --radius-btn: 0;
  --radius-field: 0;
  --radius-selector: 0;

  --glow-1: oklch(0.75 0.15 280 / 0.15);
  --glow-2: oklch(0.7 0.14 220 / 0.14);
}

[data-theme="light"] {
  --color-base-content: oklch(0.32 0.11 245.56 / 0.92);

  --glow-1: oklch(0.68 0.27 34.61 / 0.07);
  --glow-2: oklch(0.88 0.16 200.35 / 0.2);
}
