:root {
  --radius-box: 0.75rem;
  --radius-btn: 0.5rem;
  --radius-field: 0.5rem;
  --radius-selector: 0.375rem;

  --glow-1: oklch(0.75 0.15 280 / 0.15);
  --glow-2: oklch(0.7 0.14 220 / 0.14);
  --glow-3: oklch(0.6 0.12 280 / 0.15);
  --glow-4: oklch(0.85 0.07 200 / 0.1);
}

[data-theme="light"] {
  --color-base-content: oklch(0.32 0.11 245.56 / 0.92);

  --glow-1: oklch(0.68 0.27 34.61 / 0.07);
  --glow-2: oklch(0.88 0.16 200.35 / 0.2);
}
